body{
    background-color: #a2d2ff;
    text-align: center;
    color: #ffffff;
    font-family: "Happy Monkey", system-ui;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#logo{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 8px solid #EFB0C9;
}
.toph4{
    background-color: #EFB0C9;
    padding: 10px 7px;
    border-radius: 5px;
    margin-top: 0px;
}

.toph2{
    background-color: #EFB0C9;
    padding: 10px 7px;
    border-radius: 5px;
    margin-bottom: 5px;
}
h1,h2,h3,h4,p{
    text-shadow: 0px 0px 1px black;
}
.firstGift{
    width: 500px;
    height: 400px;
    margin: 0px auto;
    background-image: url("Image/gift.jpg");
    background-size: cover;
    border-radius: 10%;
    border: 5px solid rgb(230, 25, 25);
}
.firstGift:hover{
    background-image: url("gifs/Look.gif");
}
.footer{
    background-color: gray;
    margin-top: 30px;
}